<%layout('layouts/boilerplate')-%>

    <script>
        const mapToken = "<%=process.env.MAP_TOKEN%>";
        const coordinates = <%-JSON.stringify(list.geometry.coordinates)%>;
        const list = <%-JSON.stringify(list)%>;
        const placeLocation = "<%=list.location%>";
    </script>
    <div class="row mt-3">


        <div class="col-8 offset-2">
            <h3>
                <%=list.title%>
            </h3>
        </div>


        <div class="col-6 offset-2">


            <div class="card card-home">

                <img class="card-img-top show-img" src="<%=list.image.url%>">

                <div class="card-body card-body-home">

                    <div class="card-text mt-1">
                        @
                        <%=list.owner.username%> <br>
                            <%=list.description%><br> &#8377;
                                <%=list.price.toLocaleString("en-IN")%>/night<br>
                                    <%=list.country%><br>
                                        <%=list.location%>
                    </div>

                </div>

            </div>

            <%if( currUser && list.owner._id.equals(currUser._id)){%>

                <div class="show-btns mb-2 d-flex">

                    <a href="/listings/<%=id%>/edit" class="btn btn-primary edit-btn me-3">Edit</a>

                    <form method="POST" action="/listings/<%=id%>?_method=DELETE">
                        <button class="btn btn-dark">Delete</button>

                    </form>
                </div>
                <%}%>


        </div>
        <% if(currUser){%>
            <div class="col-8 offset-2">
                <hr>
                <h4>Leave a review</h4>
                <form method="POST" action="/listings/<%=id%>/reviews">

                    <div class="mb-3 mt-3">
                        <fieldset class="starability-slot">
                            <!-- <legend>First rating:</legend> -->
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rate]" value="1" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rate]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rate]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rate]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rate]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rate]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>

                    <label class="form-label " for="comment ">Comment</label>
                    <textarea type="textarea " name="review[comment] " class="form-control " id="comment " rows="5 " cols="8 "></textarea>
                    <br>

                    <button class="btn btn-outline-dark mt-3 mb-2 ">Submit</button>
                </form>
                <hr>
            </div>
            <%}%>
    </div>
    <div class="row offset-2 ">

        <%if(list.reviews.length){%>

            <h4>All reviews</h4>
            <%}%>
                <%for(let review of list.reviews){%>

                    <div class="col-4 ">
                        <div class="card ">
                            <div class="card-body ">

                                <h5 class="card-title ">
                                    <b><%=review.author.username%></b>
                                </h5>
                                <p class="card-text ">
                                    <%=review.comment%>
                                </p>

                                <p class="starability-result card-text " data-rating=<%=review.rate%>>
                                </p>
                                <form method="POST" action="/listings/<%=id%>/reviews/<%=review._id%>?_method=DELETE">
                                    <button class="btn-dark btn btn-sm">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <%}%>

                        <h4>Where you will be</h4>
                        <div id="map">
                        </div>
    </div>
    <script src="/js/map.js"></script>